.font-icon-social-midia-edit {
    font-size: 2em;
}

.margin-top-bottom-edit {
    margin-top: 5%;
    margin-bottom: 5%;
}

.padding-top-bottom-edit {
    padding-bottom: 30%;
    padding-top: 30%;
}
