.font-icon-social-midia-edit {
    font-size: 2em;
}

.margin-top-bottom-edit {
    margin-top: 5%;
    margin-bottom: 5%;
}

.padding-top-bottom-edit {
    padding-bottom: 30%;
    padding-top: 30%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.tam-font-edit {
    font-size: 2em;
}

.strong-font-edit {
    font-weight: 500;
}

.display-none-edit {
    display: none;
}
